 #{list items:matchAgainstListDTO?.matchSchedulePlayDTOList, as:'msp' }
	<li class="item-match">
		#{if userType==1 }
			<a href="javascript:void(0);" onclick="openPlayDetail(this)" data-id="${msp.id}">
		#{/if}
		#{elseif userType==3 }
			<a href="javascript:void(0);" data-id="${msp.id}">
		#{/elseif}
		#{else}
		    <a href="javascript:void(0);" onclick="openDownloadKK()">	
		#{/else}
		
		#{if msp?.hasVideo }
			<div class="view-video"><span class="icons icon-video"></span>观看比赛视频</div>
	    #{/if}
	    
	    	<div class="item-content">
				<div class="pic1"><img src="#{if msp.guildLogoUrl}${msp.guildLogoUrl}#{/if}#{else} /public/images/mobile/match/no-guild.png #{/else}" width="54" height="54"></div>
				<div class="name1">${msp.squadName}</div>
				<div class="pic2"><img src="#{if msp.againstGuildLogoUrl}${msp.againstGuildLogoUrl}#{/if}#{else} /public/images/mobile/match/no-guild.png #{/else}" width="54" height="54"></div>
				<div class="name2">${msp.againstSquadName}</div>
				<div class="result">
					#{if msp.score == null} #{if matchEndFlag } 0:0 #{/if} #{else}VS#{/else}#{/if}
					#{if msp.score != null} ${msp.score}:${msp.againstScore} #{/if}
				</div>
				<div class="state">
					<input type="hidden" value="${matchEndFlag}"/>
					<input type="hidden" value="${msp.score}"/>
					#{if matchEndFlag || msp.score != null }已结束#{/if} #{else}比赛中#{/else}
				</div>
			</div>
			</a>
	</li>
#{/list}