<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>《全民枪战》南北对抗赛 - 电竞侠</title>
	<meta name="keywords" content="电竞侠,全民枪战,FPL联赛,视频直播,战队联赛,战队报名,战队排名" />
	<meta name="description" content="电竞侠——最火的手游战队平台，全球首款为手游战队打造的免费手机游戏语音聊天软件，集领礼包、混战队、即时聊天为一体。实现用户在时空猎人、我叫MT、天天飞车、天天酷跑、放开那三国、刀塔传奇等多款手机网游内实时语音。" />
	<link rel="stylesheet" type="text/css" href="/public/css/quanmin.css">
</head>
<body>
	<div class="main">
			<h1>《全民枪战》南北对抗赛</h1>
			<div class="bg1"></div>
			<div class="bg2"></div>
			<div class="bg3"></div>
			<div class="btns">
				<a href="#" class="btn-sign btn" >报名</a>
				<a href="#" id="down_url_android" target="_self" class="btn-down" >下载电竞侠</a>
			</div>
	</div>
	#{include file="common/footer.html" /}
	
	<!--浮层 报名-->
	<div id='div_sign' class="pop-form" style="display: none;">
		<div class="head">填写报名信息</div>
		<form method="post" action="/qmqz_submit" enctype="multipart/form-data">
		<div class="row">
			<label><span class="em">*</span>战队名称(游戏内）:</label>
			<div class="con">
				<input type="text" class="input-text required" id="name" maxlength="15" name="teamName" />
			</div>
		</div>
		<div class="row">
			<label><span class="em">*</span>战队人数(游戏内):</label>
			<div class="con">
				<input type="text" class="input-text required" id="teamNumber" maxlength="5" name="teamNumber" />
			</div>
		</div>
		<div class="row">
			<label><span class="em">*</span>战队ID(游戏内):</label>
			<div class="con">
				<input type="text" class="input-text required" id="teamId" name="teamId" />
			</div>
		</div>
		<div class="row">
			<label><span class="em">*</span>队长QQ:</label>
			<div class="con">
				<input  type="text" class="input-text required" id="qq" maxlength="20" name="teamLeaderQQ"/>
			</div>
		</div>
		<div class="row">
			<label><span class="em">*</span>队长手机号:</label>
			<div class="con">
				<input type="text" class="input-text required" id="phone" maxlength="11" name="teamLeaderTel"/>
			</div>
		</div>
		<div class="row">
			<label><span class="em">*</span>游戏区服:</label>
			<div class="con">
				<div class="con-select">
				<select class="select required" id="server" name="gameServerName">
					<option value="">请选择游戏区服</option>
					<option value="华南1">华南1</option>
					<option value="华北1">华北1</option>
					<option value="华中1">华中1</option>
					<option value="华东1">华东1</option>
					<option value="东北1">东北1</option>
					<option value="东北2">东北2</option>
					<option value="广州1">广州1</option>
					<option value="广州2">广州2</option>
					<option value="广州3">广州3</option>
					<option value="沈阳1">沈阳1</option>
					<option value="其它">其它</option>
				</select>
				<div class="icon-arrow"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<label><span class="em">*</span>游戏截图（可看到战队公告）:</label>
			<!--上传前-->
			<div class="con update-con " id="update-photo-new">
				<div class="btn-update required">点击上传</div>
				<input type="file" id="file-img" multiple="multiple" class="btn-file" name="imgUrl">
				<input type="hidden" class="required" id="update-none" />
			</div>
			
			<!--上传后-->
			<div class="con update-con con-update" id="update-photo" style="display: none;">
				<div class="btn-update-reset">重新上传</div>
				<input type="file" id="tem-file" multiple="multiple"  class="btn-file" name="imgUrl">
				<div class="show-update">
					<img src="http://placehold.it/60x60" width="30" height="30" id='imgShow'>
				</div>
			</div>
			<div class="con-tips">(图片5M内,若提交不成功联系QQ：208969505)</div>
		</div>
		<input type="submit" class="btn-sub" value="提交" id="send"  />
		</form>
		<a class="close" href="#">关闭</a>
	</div>
</body>
<script src="/public/js/app/ziyou/jquery.js"></script>
<script src="/public/js/app/qmqz/form.js"></script>
<script src="/public/js/app/ziyou/file_imgload.js"></script>
<script>
	var downloadUrl = 'http://api2.kkyuyin.com/app/downloadApk';
	var url= window.location.search;
	if(url.indexOf("?")!=-1)
	{
	    var params = url.substring(1).split("?");
	    var froms=params[0].split("=");
	    if(froms[0]=='from')
	    {
	        downloadUrl = 'http://api2.kkyuyin.com/app/downloadApk?from='+froms[1];
	    } 
	}
	
	$(function() {
	   $('#down_url_android').click(function() {
	       $.post("@{KKHomePage.downloadLog}",{platform:'android'},function(){
	           document.location.href = downloadUrl;
	       });
	   });
	});
</script>
</html>