<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>电竞侠移动电竞大奖赛揭幕赛</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="/public/css/pc/match/join.css?5fccec42ab">
</head>
<body>
<!-- header begin -->
<div class="header">
  <div class="inner"><span class="logo">电竞侠</span></div>
</div>
<!-- header end -->
<!-- content begin -->
<div class="content">
  <!-- breadcrumb begin -->
  <ul class="breadcrumb">
    <li class="first">1.选择报名赛事<b></b><i></i></li>
    <li>2.验证手机<b></b><i></i></li>
    <li>3.填写报名信息<b></b><i></i></li>
    <li class="active last">4.完成<b></b><i></i></li>
  </ul>
  <!-- breadcrumb end -->

  <div class="tips-wrap">
    <h2 class="title"><i class="icon-succ"></i>${msg}</h2>
    <p>请于${signupTime} 进入电竞侠进行签到，确认参赛。</p>
    <div class="qrcode">
      <img src="/public/images/pc/match/qrcode_240x240.png" alt="二维码">
    </div>
  </div>
</div>
<!-- content end -->
#{include file="/common/footer.html" /}
</body>
</html>