<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon" />
    <title>电竞侠 - 移动电竞全民赛事平台</title>
    <meta name="keywords" content="电竞手游,电竞手游联赛,电竞手游视频,电竞手游实时语音开黑,自由之战联赛,自由之战视频,穿越火线手游联赛,穿越火线手游视频,电竞手游战队,电竞手游礼包,电竞手游论坛,电竞手游专区" />
    <meta name="description" content="电竞侠 - 手游电竞平台提供全面丰富的手游赛事、高清电竞手游视频、实时语音开黑服务，包含自由之战、王者荣耀、穿越火线手游、全民枪战、全民超神、虚荣、时空召唤、梦三国手游、部落冲突COC、火线精英手游、英雄团、全民突击、魔霸之王等电竞手游联赛、视频、开黑！内容最快最全，带给你不一样的电竞手游体验。" />
    <meta name="mobile-agent" content="format=html5;url=http://m.kkyuyin.com/">
    <base target="_blank">
    <script>var _hmt = _hmt || [];(function() {  var hm = document.createElement("script");  hm.src = "//hm.baidu.com/hm.js?02e07b23789913ae8bfd16e42111d804";  var s = document.getElementsByTagName("script")[0];   s.parentNode.insertBefore(hm, s);})();</script>
    <link rel="stylesheet" type="text/css" href="/public/css/sdk.css?02">
</head>
<body>
	<div class="top-bar">
		<div class="top-con">
			<a href="index.html" target="_self"><div class="logo"></div></a>
			<ul class="top-menu">
				<li><a href="index.html" target="_self">首页</a></li>
				<!--  <li><a href="http://gh.kkyuyin.com/" target="_self">战队管理平台</a></li> -->
                <li><a href="http://bar.kkyuyin.com/" target="_self">游戏管理平台</a></li>
				<li><a href="sdk.html" target="_self">SDK合作</a></li>
				<!--  <li><a href="update.html" target="_self">更新说明</a></li> -->
				<li><a href="help.html" target="_self">帮助</a></li>
				<li class="current"><a href="#" target="_self">关于</a></li>
			</ul>
		</div>
	</div>
	<div class="sdk-apply">
		<div class="main-apply">
			<div class="point1"></div>
			<div class="point2"></div>
			<div class="point3"></div>
			<div class="point4"></div>
			<div class="point5"></div>
			<div class="point6"></div>
			<div class="point7"></div>
			<div class="point8"></div>
			<div class="point9"></div>
			<div class="pop-about">
				<h2>关于电竞侠</h2>
				<p>电竞侠是广州宝通信息技术有限公司的核心业务。</P>
				<p>电竞侠致力于搭建一个最完善的移动电子竞技生态圈。为玩家提供了手游联赛、手游视频、手游直播、实时语音、在线开黑、职业战队、离线聊天等多种功能，玩家不仅可以在电竞侠内获取业界最新竞技手游资讯、全球最新赛事动态，还能直接在电竞侠上报名参赛；同时电竞侠提供了游戏任务、小游戏，让用户在电竞侠内更容易找到趣味相投的玩伴，帮助玩家玩好游戏、分享战功、交流玩法，成为移动电竞玩家一顶一的好帮手！</p>
			</div>
		</div>
	</div>
	#{include file="/common/footer.html" /}
	
</body>
<script src="/public/js/lib/jquery-1.10.2.js"></script>
<script src="/public/js/seajs/sea.js"></script>
<script>
var verNum = Date().valueOf(); 

seajs.config({
  
  //加版本号
  map: [
    [ '.js', '.js?v='+verNum+'' ]
  ]
});
seajs.use("/public/js/app/apply/apply.js");
</script>
</html>