<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>赛事汇总页 - 电竞侠</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="/public/css/game_list.css">
</head>
<body>
	<div class="top">
		<div class="con"><img src="/public/images/gameList/logo.png"></div>
	</div>
	<div class="main">
		<ul class="game-list">
			<li><img src="/public/images/gameList/game4.png"><a href="/yxt.html"><span class="text">报名</span></a></li>
			<li><img src="/public/images/gameList/game1.png" width="490" height="205"><a href="/qmqz.html"><span class="text">报名</span></a></li>
			<li><img src="/public/images/gameList/game2.png"><a href="/zyzz/index.html"><span class="text">观战</span></a></li>
			<li><img src="/public/images/gameList/game3.png"><a href="/cmfk.html"><span class="text">报名</span></a></li>
			<li><img src="/public/images/gameList/game5.png"><a href="/3dtk.html"><span class="text">报名</span></a></li>
		</ul>
	</div>
</body>
</html>