<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>电竞侠 - 移动电竞全民赛事平台</title>
    <meta name="keywords" content="电竞手游,电竞手游联赛,电竞手游视频,电竞手游实时语音开黑,自由之战联赛,自由之战视频,穿越火线手游联赛,穿越火线手游视频,电竞手游战队,电竞手游礼包,电竞手游论坛,电竞手游专区" />
    <meta name="description" content="电竞侠 - 手游电竞平台提供全面丰富的手游赛事、高清电竞手游视频、实时语音开黑服务，包含自由之战、王者荣耀、穿越火线手游、全民枪战、全民超神、虚荣、时空召唤、梦三国手游、部落冲突COC、火线精英手游、英雄团、全民突击、魔霸之王等电竞手游联赛、视频、开黑！内容最快最全，带给你不一样的电竞手游体验。" />
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/public/css/help.css?01">
</head>
<body>
<div class="top-bar">
	<div class="top-con">
		<a href="index.html" target="_self"><div class="logo"></div></a>
		<ul class="top-menu">
			<li><a href="index.html" target="_self">首页</a></li>
			<!--  <li><a href="http://gh.kkyuyin.com" target="_self">战队管理平台</a></li> -->
			<li><a href="http://bar.kkyuyin.com/" target="_self">游戏管理平台</a></li>
			<li><a href="sdk.html" target="_self">SDK合作</a></li>
			<!--  <li><a href="update.html" target="_self">更新说明</a></li> -->
			<li class="current"><a href="#">帮助</a></li>
			<li><a href="about.html" target="_self">关于</a></li>
		</ul>
	</div>
</div>
<div class="main-wrap">
	<div class="nav-wrap">
		<ul class="nav-list">
			<li class="current"><a href="#">注册登录</a></li>
			<li><a href="#">战队</a></li>
			<li><a href="#">礼包</a></li>
			<li><a href="#">语音浮窗</a></li>
			<li><a href="#">联系客服</a></li>
		</ul>
	</div>
	<div class="con-wrap">
		<div class="content">
			<ul class="help-con">
				<li><h2>Q:忘记密码怎么办?</h2><p>电竞侠登录界面→点击“忘记密码”→确定使用短信登录，根据提示完成找回</p></li>
				<li><h2>Q:如何设置/修改密码?</h2><p>打开电竞侠→我→设置→设置密码</p></li>
			<ul>
		</div>
		<div class="content" style="display: none;">
			<ul class="help-con">
				<li><h2>Q:如何加入战队？只能加一个战队吗？</h2><p>（1）点击主界面“战队”选择“加入战队领取礼包”，可按战队id搜，战队名字，战队关注的游戏进行搜索。</br>
    （2）每个用户只能加入1个战队</p></li>
				<li><h2>Q:如何退出战队？</h2><p>在“战队-管理”，点击退出战队即可</p></li>
				<li><h2>Q：什么是贡献？如何获得？如何查询？</h2><p>（1）贡献分为战队贡献、个人贡献。战队贡献=战队所有成员的个人贡献之和；个人贡献值越高代表资历越深，战队福利优先享受</br>
（2）个人贡献可通过签到、战队发回贴、战队群发言获得</br>
（3）战队贡献在”战队-等级图标“，战队等级页面查看；个人贡献在”战队-管理“即可查看</p></li>
                <li><h2>Q：什么是战队功勋？如何获得？如何查询？</h2><p>（1）战队功勋是战队的经济体系，主要在领取战队礼包或换取其他战队福利时扣除</br>
（2）与战队贡献获取方式一致，可通过签到、战队发回贴、战队群发言获得</br>
（3）在”战队-管理“即可查看自己的战队功勋值</p></li>
                <li><h2>Q：是否有电脑版的战队管理平台？</h2><p>有。欢迎访问gh.kkyuyin.com</p></li>
                <li><h2>Q:战队可以改名字吗？</h2><p>可以。在“战队-管理-战队信息“点击战队名进行修改，每月有1次修改机会</p></li>
                <li><h2>Q：队长可否上传战队礼包？</h2><p>可以。近期请先联系电竞侠号10008协助上架。后续请关注队长管理平台gh.kkyuyin.com的队长礼包上架功能</p></li>
                <li><h2>Q:战队贡献值与战队等级是否有关系？</h2><p>有。战队贡献值越高，则战队等级越高</p></li>
			<ul>
		</div>
		<div class="content" style="display: none;">
			<ul class="help-con">
				<li><h2>Q:怎么领取礼包？</h2><p>1）个人礼包：在“大厅-礼包-搜索（输入你礼包游戏名）”即可领取”个人礼包“，战队礼包仅队长可领取</br>
2）战队礼包：加入战队，“战队-礼包”即可领取所属战队的礼包</br>
3）活动礼包：在游戏吧中参加活动获得</p></li>
				<li><h2>Q:为什么并未领取的礼包，提示已经领取？</h2><p>电竞侠目前大多数礼包由九游提供，若已在九游领取过该礼包，则电竞侠会出现已领取的提示</p></li>
                <li><h2>Q:为什么战队参加了活动没有领取到礼包？</h2><p>满足活动规则要求的战队才会获得奖励，获胜战队的礼包直接发放给队长由他进行分配。若仍有疑问请咨询电竞侠小助手10001。</p></li>
                <li><h2>Q:转盘抽奖的活动奖励什么时候发？</h2><p>转盘的普通奖品会直接发放（如香蕉、普通礼包），礼包奖励在“我——礼包”中查看。特殊奖品采用手动发放，一般情况下客服在活动结束24小时内联系获奖用户发放礼包，特殊情况会在三个工作日内联系用户</p></li>
			<ul>
		</div>
		<div class="content" style="display: none;">
			<ul class="help-con">
				<li><h2>Q:为什么游戏中未出现电竞侠浮窗？</h2><p>确认在“我→设置→游戏浮窗设置--游戏浮窗管理”处选中此款游戏若问题仍未解决，请联系电竞侠号10002咨询</p></li>
				<li><h2>Q:如何关闭电竞侠浮窗？</h2><p>（1）在游戏内向上拖动电竞侠浮窗图标，将图标拖至”隐藏浮窗“位置即可；</br>
（2）在”我→设置→游戏浮窗设置--游戏浮窗管理“取消选中此游戏</p></li>
			<ul>
		</div>
		<div class="content" style="display: none;">
			<ul class="help-con"></br>
				<li><p>如果您还需要了解更多详情，请用以下方式联系我们</br>
电竞侠助手&nbsp;&nbsp;：10002（电竞侠号）</br>
百度贴吧：<a href="http://tieba.baidu.com/f?kw=kk%E8%AF%AD%E9%9F%B3&ie=utf-8">电竞侠吧</a></p></li>
			<ul>
		</div>
	</div>
</div>

#{include file="/common/footer.html" /}
	
</body>
<script src="/public/js/lib/jquery-1.10.2.js"></script>
<script src="/public/js/seajs/sea.js"></script>
<script>
var verNum = Date().valueOf(); 

seajs.config({
  
  //加版本号
  map: [
    [ '.js', '.js?v='+verNum+'' ]
  ]
});
seajs.use("/public/js/app/help/help.js");
</script>
</html>