<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon" />
    <title>电竞侠 - 移动电竞全民赛事平台</title>
    <meta name="keywords" content="电竞手游,电竞手游联赛,电竞手游视频,电竞手游实时语音开黑,自由之战联赛,自由之战视频,穿越火线手游联赛,穿越火线手游视频,电竞手游战队,电竞手游礼包,电竞手游论坛,电竞手游专区" />
    <meta name="description" content="电竞侠 - 手游电竞平台提供全面丰富的手游赛事、高清电竞手游视频、实时语音开黑服务，包含自由之战、王者荣耀、穿越火线手游、全民枪战、全民超神、虚荣、时空召唤、梦三国手游、部落冲突COC、火线精英手游、英雄团、全民突击、魔霸之王等电竞手游联赛、视频、开黑！内容最快最全，带给你不一样的电竞手游体验。" />
    <meta name="mobile-agent" content="format=html5;url=http://www.kkyuyin.com/m/index.html">
    <script>var _hmt = _hmt || [];(function() {  var hm = document.createElement("script");  hm.src = "//hm.baidu.com/hm.js?02e07b23789913ae8bfd16e42111d804";  var s = document.getElementsByTagName("script")[0];   s.parentNode.insertBefore(hm, s);})();</script>
    <script src="http://siteapp.baidu.com/static/webappservice/uaredirect.js" type="text/javascript"></script>
    <script type="text/javascript">
        var frm = '';
        var url= window.location.search;
        if(url.indexOf("?") != -1)
	    {
	        var params = url.substring(1).split("?");
	        var froms=params[0].split("=");
	        if(froms[0]=='from')
	        {
	            frm = '?from=' + froms[1];
	        } 
	    }
        uaredirect("http://m.kkyuyin.com/m/index.html" + frm);
    </script>
	<link rel="stylesheet" type="text/css" href="/public/css/index.css?03">
	<script type="text/javascript" src="/public/js/jquery.min.js"></script>
</head>
<body>
    <style>
        .show-act-top{background-color:#2D2A4A;}
    </style>
     
    <div class="show-act-top">
        <a href="/match/subjectDetail.html?id=1"><img src="/public/images/pc/match/match_subject_top_banner.png" /></a>
       
    </div>
     
	<div class="top-bar">
		<div class="top-con">
			<a href="index.html" target="_self"><div class="logo"></div></a>
			<ul class="top-menu">
				<li class="current"><a href="#" target="_self">首页</a></li>
				<li><a href="http://bar.kkyuyin.com/" target="_self">游戏管理平台</a></li>
				<li><a href="sdk.html" target="_self">SDK合作</a></li>
				<li><a href="help.html" target="_self">帮助</a></li>
				<li><a href="about.html" target="_self">关于</a></li>
			</ul>
		</div>
	</div>
    
	
	<div class="top-show">
		<div class="top-show-wide">
			<div class="top-show-con">
				<div class="show-photo">
					<ul id="slideImg">
						<li><img src="/public/images/show_1.jpg" width="292" height="516"></li>
					</ul>					
				</div>
				<div class="down-link">
					<div class="android-link"><a href="#" id="down_url_android" target="_self"><span class="name">Android</span><span class="version">最新版</span></a></div>
					<div class="ios-link">
					<a href="https://itunes.apple.com/cn/app/kk-yu-yin/id938568880?mt=8">
                        <span class="name">iOS</span>
                        <span class="version">最新版</span>
                    </a>    
                    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="intro-0 animation">
		<div class="intro-con">
			<h2 class="intro1-title">手游联赛系统</h2>
			<p class="intro1-info">最全的手游联赛平台，丰厚的奖品，系统自动分配对战对手，公平比赛</p>
			<div class="intro0_bg"></div>
			<div class="intro0_start1"></div>
			<div class="intro0_start2"></div>
			<div class="intro0_hand1"></div>
			<div class="intro0_hand2"></div>
			<div class="intro0_hand3"></div>
		</div>
	</div>
	<div class="intro-1">
		<div class="intro-con">
			<h2 class="intro1-title">完善的战队系统</h2>
			<p class="intro1-info">完整的战队管理系统，战队功勋体系，粉丝系统，论坛功能</p>
			<div class="intro1_house"></div>
			<div class="intro1_logo"></div>
			<div class="intro1_balloon1"></div>
			<div class="intro1_balloon2"></div>
			<div class="intro1_balloon3"></div>
			<div class="intro1_balloon4"></div>
			<div class="intro1_cloud"></div>
		</div>
	</div>
	<div class="intro-2">
		<div class="intro-con">
			<h2 class="intro2-title">手游团战语音</h2>
			<p class="intro2-info">独特的游戏浮窗聊天，支持多人实时语音，打造手游沟通神器</p>
			<div class="intro2_man1"></div>
			<div class="intro2_man2"></div>
			<div class="intro2_man3"></div>
			<div class="intro2_message1"></div>
			<div class="intro2_message2"></div>
			<div class="intro2_message3"></div>
		</div>
	</div>
	<div class="intro-3">
		<div class="intro-con">
			<h2 class="intro3-title">百万福利礼包</h2>
			<p class="intro3-info">玩游戏领礼包，省的不止一点点</p>
			<div class="intro3_bag1"></div>
			<div class="intro3_bag2"></div>
			<div class="intro3_coin"></div>
			<div class="intro3_50"></div>
			<div class="intro3_100"></div>
			<div class="intro3_balloon1"></div>
			<div class="intro3_balloon2"></div>
			<div class="intro3_star1"></div>
			<div class="intro3_star2"></div>
		</div>
	</div>
	<div class="intro-4">
		<div class="intro-con">
			<h2 class="intro4-title">游戏吧</h2>
			<p class="intro4-info">与玩家交流、领取激活码，更多惊喜，分享喜悦</p>
			<div class="intro4_delta"></div>
			<div class="intro4_circle1"></div>
			<div class="intro4_circle2"></div>
			<div class="intro4_circle3"></div>
			<div class="intro4_circle4"></div>
			<div class="intro4_point1"></div>
			<div class="intro4_point2"></div>
			<div class="intro4_point3"></div>
			<div class="intro4_point4"></div>
			<div class="intro4_point5"></div>
		</div>
	</div>
	<div class="intro-5">
		<div class="intro-con">
			<h2 class="intro5-title">同区玩伴</h2>
			<p class="intro5-info">跟孤独寂寞冷说拜拜，跟同区玩伴们Say Hi</p>
			<div class="intro5_circle"></div>
			<div class="intro5_man1"></div>
			<div class="intro5_man2"></div>
			<div class="intro5_man3"></div>
			<div class="intro5_man4"></div>
		</div>
	</div>
	{{template "common/footer.html" .}}
	
</body>
<script src="/public/js/lib/jquery-1.10.2.js"></script>
<script src="/public/js/seajs/sea.js"></script>
<script>
	var verNum = Date().valueOf(); 
	
	seajs.config({
	  
	  //加版本号
	  map: [
	    [ '.js', '.js?v='+verNum+'' ]
	  ]
	});
	seajs.use("/public/js/app/index/index.js");
	
	var downloadUrl = 'http://api2.kkyuyin.com/app/downloadApk';
	var url= window.location.search;
	if(url.indexOf("?")!=-1)
	{
	    var params = url.substring(1).split("?");
	    var froms=params[0].split("=");
	    if(froms[0]=='from')
	    {
	        downloadUrl = 'http://api2.kkyuyin.com/app/downloadApk?from='+froms[1];
	    } 
	}
	
	$(function() {
	   $('#down_url_android').click(function() {
	       $.post("@{KKHomePage.downloadLog}",{platform:'android'},function(){
	           document.location.href = downloadUrl;
	       });
	   });
	});
</script> 
</html>