<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>2014年度战队评选-电竞侠</title>
	<meta name="keywords" content="电竞手游,电竞手游联赛,电竞手游视频,电竞手游实时语音开黑,自由之战联赛,自由之战视频,穿越火线手游联赛,穿越火线手游视频,电竞手游战队,电竞手游礼包,电竞手游论坛,电竞手游专区" />
	<meta name="description" content="电竞侠 - 手游电竞平台提供全面丰富的手游赛事、高清电竞手游视频、实时语音开黑服务，包含自由之战、王者荣耀、穿越火线手游、全民枪战、全民超神、虚荣、时空召唤、梦三国手游、部落冲突COC、火线精英手游、英雄团、全民突击、魔霸之王等电竞手游联赛、视频、开黑！内容最快最全，带给你不一样的电竞手游体验。" />
	<link rel="stylesheet" type="text/css" href="/public/css/pingxuan.css?02">
</head>
<body>
	<div class="top">
		<h1>金盾奖 2014年度战队评选</h1>
		<p>万现金等你来拿</p>
	</div>
	<div class="main">
		<div class="menu">
			<ul>
				<li class="space"><a href="index.html">官网首页<span class="bg"></span></a></li>
				<li><a href="vote.html">投票专区<span class="bg"></span></a></li>
				<li class="current"><a href="#">奖项设置及评选规则<span class="bg"></span></a></li>
				<li><a href="lapiao.html">拉票有奖<span class="bg"></span></a></li>
			</ul>
		</div>
		<div class="rule-con">
			<h2>奖项设置</h2>
			<table class="table-list">
				<tr>
					<th class="bg-blue" style="width:35%">【王者之师】<br />十大王者战队</th>
					<th>现金奖励</th>
					
				</tr>
				<tr>
					<td class="text-blue">第1名</td>
					<td>50000元+金盾奖杯/证书</td>
				
				</tr>
				<tr>
					<td class="text-blue">第2名</td>
					<td>30000元+金盾奖杯/证书</td>
				
				</tr>
				<tr>
					<td class="text-blue">第3名</td>
					<td> 10000元+金盾奖杯/证书</td>
				
				</tr>
				<tr>
					<td class="text-blue">第4名</td>
					<td>6000元+金盾奖杯/证书</td>
					
				</tr>
				<tr>
					<td class="text-blue">第5名</td>
					<td>4000元+金盾奖杯/证书</td>
					
				</tr>
				<tr>
					<td class="text-blue">第6~10名</td>
					<td>2000元+金盾奖杯/证书</td>
					
				</tr>
				<tr>
					<td class="text-blue">第11~30名</td>
					<td>荣誉证书、公仔、电竞侠文化衫</td>
				
				</tr>
			</table>
			<table class="table-list">
				<tr>
					<th class="bg-green" style="width:35%">【异军突起】<br />十大新锐战队</th>
					<th>现金奖励</th>
				</tr>
					<td class="text-green">第1名</td>
					<td>8000元+金盾奖杯/证书</td>
				<tr>
					<td class="text-green">第2名</td>
					<td>6000元+金盾奖杯/证书</td>
				</tr>
				<tr>
						<td class="text-green">第3名</td>
					<td>4000元+金盾奖杯/证书</td>
				</tr>
				<tr>
					<td class="text-green">第4名</td>
					<td>3000元+金盾奖杯/证书</td>
				</tr>
				<tr>
					<td class="text-green">第5名</td>
					<td>2000元+金盾奖杯/证书</td>
				</tr>
				<tr>
					<td class="text-green">第6~10名</td>
					<td>1000元+金盾奖杯/证书</td>
				</tr>
				<tr>
						<td class="text-green">第11~50名</td>
					<td>荣誉证书、公仔、电竞侠文化衫</td>
				</tr>
			
			</table>
			<div class="pingxuan-con">
				<div class="hd"><h2>评选规则</h2><span class="info">本次评选采取积分制，以各环节积分之和来决定最终榜单 :</span></div>
				<div class="title"><strong class="hot">1.玩家投票 </strong>: 按投票排名获得相应积分。</div>
				<table class="table-list">
					<tr>
						<th class="bg-green">排名</th>
						<th>获得积分</th>
						<th class="bg-green">排名</th>
						<th>获得积分</th>
					</tr>
					<tr>
						<td class="text-green">第1名</td>
						<td>200</td>
						<td class="text-green">第8名</td>
						<td>70</td>
					</tr>
					<tr>
						<td class="text-green">第2名</td>
						<td>160</td>
						<td class="text-green">第9名</td>
						<td>60</td>
					</tr>
					<tr>
						<td class="text-green">第3名</td>
						<td>140</td>
						<td class="text-green">第10名</td>
						<td>50</td>
					</tr>
					<tr>
						<td class="text-green">第4名</td>
						<td>110</td>
						<td class="text-green">第11-20名</td>
						<td>30</td>
					</tr>
					<tr>
						<td class="text-green">第5名</td>
						<td>100</td>
						<td class="text-green">第21-30名</td>
						<td>25</td>
					</tr>
					<tr>
						<td class="text-green">第6名</td>
						<td>90</td>
						<td class="text-green">第31-50名</td>
						<td>15</td>
					</tr>	
					<tr>
						<td class="text-green">第7名</td>
						<td>80</td>
						<td class="text-green">第51-100名</td>
						<td>5</td>
					</tr>					
				</table>
				<div class="title"><strong class="hot">2.嘉宾投票 </strong></div>
				<p class="title">A.队长票</p>
				<p>
				1）该票只能在嘉宾投票区使用，<font color="red">每票可兑换2分</font>；</br>
				2）所有2星以上参赛的队长，<font color="red">当前几星即可投几票</font>，比如5星战队，就有5张队长票；</br>
				3）所有未达到2星参赛的队长，均有1张队长票（签到低于10人的队长无票）；</br>
				4）持有多张选票的队长，每张票都需要投给不同的战队，不能投给自已战队。当然，你也可以不投，视为弃权。</br>
				</p>
				</br>
				<p class="title">B.厂商票</p>
				<p>
				1）该票只能在嘉宾投票区使用，每票可兑换2分；</br>
				2）<font color="red">每个手机游戏厂商均有3票</font>。</br></br>
				现已邀请到众多国内知名游戏厂商代表，前来为各大战队摇旗助威（帝王三国、霸天下、三国战神、自由之战、暗黑黎明、卧虎藏龙等等），队长可以向认识的厂商拉票喔。</br></br>
				
				</p>
				
				<div class="title">
					<strong class="hot">3.星级助力 （仅限王者赛区）</strong>: 
					
				</div>
				<p>
				 王者赛区的参赛战队，2014年8月-11月的电竞侠星级之和可以兑换成活动积分，1星可以兑换1分，比如4个月加起来是20星，即可以兑换成20活动积分。（该积分会在获奖榜单发布时公开）
				</p>
			</div>
		</div>
	</div>
	#{include file="/common/footer.html" /}
	<div class="fixed-con">
		<div class="pic"><img src="/public/images/code_kk.png"></div>
		<div class="name">扫一扫<br />安装电竞侠</div>
		<a href="#" class="icon-close">关闭</a>
	</div>
</body>
<script src="/public/js/lib/jquery-1.10.2.js"></script>
<script src="/public/js/app/vote/pingxuan.js"></script>
</html>