<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>2014年度战队评选-电竞侠</title>
	<meta name="keywords" content="电竞手游,电竞手游联赛,电竞手游视频,电竞手游实时语音开黑,自由之战联赛,自由之战视频,穿越火线手游联赛,穿越火线手游视频,电竞手游战队,电竞手游礼包,电竞手游论坛,电竞手游专区" />
	<meta name="description" content="电竞侠 - 手游电竞平台提供全面丰富的手游赛事、高清电竞手游视频、实时语音开黑服务，包含自由之战、王者荣耀、穿越火线手游、全民枪战、全民超神、虚荣、时空召唤、梦三国手游、部落冲突COC、火线精英手游、英雄团、全民突击、魔霸之王等电竞手游联赛、视频、开黑！内容最快最全，带给你不一样的电竞手游体验。" />
	<link rel="stylesheet" type="text/css" href="/public/css/pingxuan.css?02">
</head>
<body>
	<div class="top">
		<h1>金盾奖 2014年度战队评选</h1>
		<p>万现金等你来拿</p>
	</div>
	<div class="main">
		<div class="menu">
			<ul>
				<li><a href="index.html">官网首页<span class="bg"></span></a></li>
				<li class="current"><a href="#">投票专区<span class="bg"></span></a></li>
				<li class="space"><a href="rule.html">奖项设置及评选规则<span class="bg"></span></a></li>
				<li><a href="lapiao.html">拉票有奖<span class="bg"></span></a></li>
			</ul>
		</div>
		<ul class="intro-con">
			<li><h2>活动介绍</h2><p>东风吹，战鼓擂，战队时代谁怕谁？电竞侠年度战队《金盾奖》评选活动正式开启；会战在即，百万豪礼送勇士，荣誉丰碑赠英雄；万事具备，只待东风，你准备好了吗？</P></li>
			<li><h2>投票时间</h2><p>2015.1.1 - 2015.1.15</p></li>
			<li><h2>奖励规则</h2><p>每日随机抽取10名幸运投票玩家奖励10元充值卡，参与投票的玩家均可获得100铜币</p></li>
		</ul>
		<div class="gift-con">
			<h2>奖品展示</h2>
			<div class="gift-con-list">
			<ul>
				<li>
					<div class="pic"><img src="../public/images/temp/004.png""></div>
					<div class="name">20万现金</div>
				</li>
				<li>
					<div class="pic"><img src="../public/images/temp/001.png""></div>
					<div class="name">金盾奖杯</div>
				</li>
				<li>
					<div class="pic"><img src="../public/images/temp/002.png""></div>
					<div class="name">荣誉证书</div>
				</li>
				<li>
					<div class="pic"><img src="../public/images/temp/003.png""></div>
					<div class="name">电竞侠文化衫</div>
				</li>
				<li>
					<div class="pic"><img src="../public/images/temp/005.png""></div>
					<div class="name">公仔</div>
				</li>
			</ul>
			</div>
		</div>
		<div class="gonghui-con">
			<ul class="gh-nav">
				<li class="list-1 current">TOP10王者战队评选</li>
				<li class="list-2">TOP10新锐战队评选</li>
			</ul>
			<div class="gh-list-con">
			<!--TOP10王者战队评选 开始-->
			<div class="gh-list">
				<ul>
						<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/2f923dc808bd47519109857403b9fa24.jpg"></div>
						<div class="name">1.巅峰聚義</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/aabb7880454e406d903174eabbef2db7.jpg"></div>
						<div class="name">2.帝国风云天下</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/f9ef5dc0a7a04d0d9f2d7456be770eb6.jpg"></div>
						<div class="name">3.梦想战队</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/675d95f5d19c4f59a37d624ee6751e14.jpg"></div>
						<div class="name">4.魂隐轻吟</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/6a91613edd55404f980b6e5dcf195faf.jpg"></div>
						<div class="name">5.3、K</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/4510fedfa00d46dfb5b3de8251f1c5bb.jpg"></div>
						<div class="name">6.掌悦天下</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/8a882bbc8b6347f6b86430b0e102474f.jpg"></div>
						<div class="name">7.倾城之恋</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/clip_510d1304d8ef45a29a29400772df604b.jpg"></div>
						<div class="name">8.墨者联盟</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/7666097de7844c2d9ceaf171c67e225f.jpg"></div>
						<div class="name">9.Ray皇朝</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/3f931ac1d65745808a40ed21cf1fcee5.jpg"></div>
						<div class="name">10.唯吾独尊</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/668db216ce2347239af9cd6f2ee62c1f.jpg"></div>
						<div class="name">11.辉煌无双</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					
						<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/42bd951f7bfb45f4860b05d7f98874cb.jpg"></div>
						<div class="name">12.腾飞战队</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/b92d6ec176de4e258f9baf0aa5cacd95.jpg"></div>
						<div class="name">13.无双绝世</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/fc1f0d108e8c4bb69546e10b699d5668.jpg"></div>
						<div class="name">14.桃园结义</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/aa42693aef394007b2e6f14576170e7b.jpg"></div>
						<div class="name">15.耀世轩辕</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/760427a8522b4837bdbfd46df0c4a4ef.jpg"></div>
						<div class="name">16.醉夢红尘</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/clip_1e62316ca75f48248ae33d57a89216f9.jpg"></div>
						<div class="name">17.云烟雨雾</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/957a801765704d0fb4ae84c8b5a2f05d.jpg"></div>
						<div class="name">18.唯恋不渝</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/c324f84d6cdf455caa4c9520c10e52f7.jpg"></div>
						<div class="name">19.最 拉 风</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/258b2c49c4b34100bd430dc9fde3d469.jpg"></div>
						<div class="name">20.黑骑禁卫</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/3ae6e54313cd4f78af044a1e5284fa94.jpg"></div>
						<div class="name">21.綄羙旋律</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/4250ce96b43e4198920818ab43437a4b.jpg"></div>
						<div class="name">22.倾城傲世</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/8eabdbd21a2e4163923b45ca09e5b0ab.jpg"></div>
						<div class="name">23.倾城绝恋</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/69af69f2855b4275a2793fc94d56d473.jpg"></div>
						<div class="name">24.惊世霸业</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/58e3ebe062ab45939ee7e7f574e8e43d.jpg"></div>
						<div class="name">25.皇朝不灭</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/4e09c391c32841c6be1a0265c457bf7f.jpg"></div>
						<div class="name">26.名门天下</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/dc474cb49451403a9de4ece86ae5bf58.jpg"></div>
						<div class="name">27.霸气嗜杀</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/3ec270db5bf44c1db3b69e019a8e24d4.jpg"></div>
						<div class="name">28.弑帝辉煌</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/c301bd49eaca44b5bb9c342bf0a7aea1.jpg"></div>
						<div class="name">29.圣朝联盟</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/8ee2e5b4fbe147419109b80bd643a48d.jpg"></div>
						<div class="name">30.兄 弟 盟</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/18c3dd254c6f4ddaa8b24233b7b41bc5.jpg"></div>
						<div class="name">31.霸气龙魂</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/2ab7ace56a5d4ac680953dd4da26b963.jpg"></div>
						<div class="name">32.ZY战队</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/f7d5f3fc7ab940e390ca1628571182b4.jpg"></div>
						<div class="name">33.神靈霸天</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/de0e5301275d41b5a34fe19e98c404f7.jpg"></div>
						<div class="name">34.壹度倾城</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/3475fa4db92f4e0a973db447c802e9eb.jpg"></div>
						<div class="name">35.名动天下</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/a305b13e32cd40eb9c25aa609df02e72.jpg"></div>
						<div class="name">36.Ing国度</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/a3e3347b5aad456db4f02adc56bef0e1.jpg"></div>
						<div class="name">37.酷炫天下</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
				<ul>
			</div>
			<!--TOP10王者战队评选 结束-->
			<!--TOP10新锐战队评选 开始-->
			<div class="gh-list" style="display: none;">
				<ul>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/f51b46e932e3497aa4f8dc734dcf5ca3.jpg"></div>
					<div class="name">1.狼族、图腾</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/04dff836e3fe414c9b2702ff73d45a00.jpg"></div>
					<div class="name">2.上帝禁区</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/517eae59e41f4e1181700d0155be23cc.jpg"></div>
					<div class="name">3.倾城礼包首充会</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/ff8ebddf0f364e2db6950d2e899b8167.jpg"></div>
					<div class="name">4.九游战盟</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/f800c39dcf364d2fafdf92a32181872d.jpg"></div>
					<div class="name">5.耀世</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/2f4862a2d36e4cc3aaae7f0d2ccb3667.jpg"></div>
					<div class="name">6.九游倾城狼族</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/01cd0a3abb204086a260a56baa2f4ec1.jpg"></div>
					<div class="name">7.百包荟萃</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="/public/images/temp/logo_118.png"></div>
					<div class="name">8.热血家族</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/clip_63b9e8cf63194fccbf1b835efb6aa933.jpg"></div>
					<div class="name">9.冰城手游战队</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/57e25f11e4004e7ca8d4b9cef75754f8.jpg"></div>
					<div class="name">10.上帝之手</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/ad4823e012e5475abbedf728c824c7b9.jpg"></div>
					<div class="name">11.☆唯美♡情缘☆</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/ce079bb9bbba42788f6f90c655d2586f.jpg"></div>
					<div class="name">12.【逐梦情缘】</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/4365e2387577476c8bbc3e314f39b2c4.jpg"></div>
					<div class="name">13.乱世英雄</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/9f24c3e98607403cb814d513e9558e38.jpg"></div>
					<div class="name">14.-铭门｜氏族</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/0c774225eb4c43818380d85936511c5b.jpg"></div>
					<div class="name">15.╰»┉*鬦愙*┉«╯</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/f8722e1368da4ebfb084b2e6b8941791.jpg"></div>
					<div class="name">16.焚天★灭地</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/859b30faa61c4abb8d8de5a4d3250c19.jpg"></div>
					<div class="name">17.戰歌</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/a4f9507b080e4170a10b800642ace566.jpg"></div>
					<div class="name">18.九游紫轩阁</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/880c57e9cd5c42ceb7461f53ebf7b96b.jpg"></div>
					<div class="name">19.血染契约〖盟〗</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/783c2771c5604b70a17adc7cdd684b73.jpg"></div>
					<div class="name">20.灬Lucky</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/1c29b9551e2f48b487b9e6343665caf2.jpg"></div>
					<div class="name">21.〓聚義♚情緣〓</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="/public/images/temp/logo_118.png"></div>
					<div class="name">22.热血圣域</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/b8632b4786e84600ae32138cdfa22059.jpg"></div>
					<div class="name">23.噬神℡天狼</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/ea547c2d6e9b4cb587e33b2794e7c447.jpg"></div>
					<div class="name">24.幼灵丶</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/b392f3b541a2447d93856b8e6966f5e8.jpg"></div>
					<div class="name">25.挚爱永恒</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/clip_ebd5342cdc524b888ebe25c860f3d81b.jpg"></div>
					<div class="name">26.☜KO☞</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/238bb55bd5a241cc910927971b5263ea.jpg"></div>
					<div class="name">27.♚戰國ヾ兲下</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/2e341506590c4facbe5c892e0b9e25c1.jpg"></div>
					<div class="name">28.🏆缘迹天涯🏆</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/9439c7a57c694cc8b29d10f17e884c7d.jpg"></div>
					<div class="name">29.【永恒】</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/c7a0d2fe5a0c4a85abd963879a06a5bd.jpg"></div>
					<div class="name">30.☞绝世灬 義天</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
				<ul>
			</div>
			</div>
			<!--TOP10新锐战队评选 结束-->
		</div>
		<div class="wish-con">
			<h2>游戏厂商贺词</h2>
			<div class="wish-list-con">
			<ul class="wish-list-con-ul">
				<li>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/1.png""></div>
						<div class="con">
							<div class="name">厦门新游网络</div>
							<p>携《帝王三国》祝电竞侠战队评选大赛圆满成功！</p>
						</div>
					</div>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/2.png""></div>
						<div class="con">
							<div class="name">深圳逐鹿科技</div>
							<p>《霸天下》祝电竞侠打造战队平台NO.1！</p>
						</div>
					</div>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/3.png""></div>
						<div class="con">
							<div class="name">西山居</div>
							<p>最火爆的战队语音，最权威的评选！尽在电竞侠！</p>
						</div>
					</div>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/4.png""></div>
						<div class="con">
							<div class="name">成都龙渊网络</div>
							<p>恭祝活动圆满成功！2015勇创新高！</p>
						</div>
					</div>
				</li>
				<li>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/5.png""></div>
						<div class="con">
							<div class="name">完美世界</div>
							<p>携完美同仁谨祝电竞侠更创佳绩！</p>
						</div>
					</div>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/6.png""></div>
						<div class="con">
							<div class="name">北京畅游</div>
							<p>畅游祝电竞侠成为最强战队语音软件！</p>
						</div>
					</div>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/7.png""></div>
						<div class="con">
							<div class="name">天津八八六四</div>
							<p>《神之刃》与合作伙伴共创辉煌！</p>
						</div>
					</div>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/8.png""></div>
						<div class="con">
							<div class="name">中清龙图</div>
							<p>祝电竞侠人气节节攀高！</p>
						</div>
					</div>
				</li>
				<li>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/9.png""></div>
						<div class="con">
							<div class="name">神奇时代</div>
							<p>《卧虎》祝电竞侠越办越火爆！活动成功！</p>
						</div>
					</div>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/10.png""></div>
						<div class="con">
							<div class="name">巴别时代</div>
							<p>祝电竞侠人气越来越旺，成为行业典范！</p>
						</div>
					</div>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/11.png""></div>
						<div class="con">
							<div class="name">成都卓星科技</div>
							<p>携《全民枪战》祝电竞侠活动成功，越办越红火！</p>
						</div>
					</div>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/12.png""></div>
						<div class="con">
							<div class="name">天象互动</div>
							<p>祝电竞侠成为最好的战队交流软件！</p>
						</div>
					</div>
				</li>
				<li>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/14.png""></div>
						<div class="con">
							<div class="name">巨人网络</div>
							<p>祝电竞侠越办越好，越来越精彩！</p>
						</div>
					</div>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/15.png""></div>
						<div class="con">
							<div class="name">上海悦腾</div>
							<p>携《全民奇迹》祝电竞侠越办越好！</p>
						</div>
					</div>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/16.png""></div>
						<div class="con">
							<div class="name">广州谷得</div>
							<p>广州谷得祝玩家破亿！敬请关注谷得新游！</p>
						</div>
					</div>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/17.png""></div>
						<div class="con">
							<div class="name">银汉科技</div>
							<p>祝电竞侠更创佳绩，做最强手游语音！</p>
						</div>
					</div>
				</li>
				<li>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/18.png""></div>
						<div class="con">
							<div class="name">昆仑乐享</div>
							<p>昆仑祝电竞侠再创伟业！再铸辉煌！</p>
						</div>
					</div>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/19.png""></div>
						<div class="con">
							<div class="name">苏州蜗牛</div>
							<p>祝电竞侠PV量步步高升！</p>
						</div>
					</div>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/20.png""></div>
						<div class="con">
							<div class="name">四三九九</div>
							<p>与合作伙伴携手并进！共创手游新天地！</p>
						</div>
					</div>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/21.png""></div>
						<div class="con">
							<div class="name">顽石互动</div>
							<p>电竞侠，响当当的战队玩家聚集地！祝活动圆满成功！</p>
						</div>
					</div>
				</li>
				<li>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/22.png""></div>
						<div class="con">
							<div class="name">成都九方</div>
							<p>携《仙国志》祝电竞侠活动圆满成功！</p>
						</div>
					</div>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/23.png""></div>
						<div class="con">
							<div class="name">网易雷火</div>
							<p>预祝2014手游战队评选火热启动！</p>
						</div>
					</div>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/25.png""></div>
						<div class="con">
							<div class="name">成都触控</div>
							<p>祝电竞侠活动圆满成功！</p>
						</div>
					</div>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/29.png""></div>
						<div class="con">
							<div class="name">乐动卓越</div>
							<p>祝电竞侠人气爆棚、玩家越来越多！</p>
						</div>
					</div>
				</li>
				<li>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/30.png""></div>
						<div class="con">
							<div class="name">魔方无限</div>
							<p>北京魔方祝电竞侠活动圆满成功，再创佳绩！</p>
						</div>
					</div>
					<div class="wish-item">
						<div class="pic"><img src="public/images/temp/31.png""></div>
						<div class="con">
							<div class="name">云海情天</div>
							<p>手游战队哪家强，电竞侠美名扬！祝电竞侠越办越好！</p>
						</div>
					</div>
					
				</li>
				
			</ul>
			<ul class="mini-page">
				<li></li>
				<li class="point"></li>
				<li class="point"></li>
				<li class="point"></li>
				<li class="point"></li>
				<li class="point"></li>
				<li class="point"></li>
				
			</ul>
			</div>
		</div>
	</div>
	#{include file="/common/footer.html" /}
	<div class="fixed-con">
		<div class="pic"><img src="/public/images/code_kk.png""></div>
		<div class="name">扫一扫<br />安装电竞侠</div>
		<a href="#" class="icon-close">关闭</a>
	</div>
	<!--投票浮层-->
	<div class="pop-mask" style="display: none;"></div>
	<div class="pop-vote" style="display: none;">
		<div class="name">请下载电竞侠完成投票</div>
		<div class="pic"><img src="/public/images/code_vote.png"" width="149" height="149"></div>
		<a href="#" class="icon-close">关闭</a>
	</div>
</body>
<script src="/public/js/lib/jquery-1.10.2.js"></script>
<script src="/public/js/app/vote/pingxuan.js"></script>
</html>