<!--浮层 报名-->
<div class="pop-form" style="display:none ;">
    <div class="head">填写报名信息</div>
    <form method="post"   action="@{Activity.zyzzApplied}" enctype="multipart/form-data">
        <div class="row">
			<label><span class="em">*</span>战队名称(游戏内):</label>
			<div class="con">
				<input type="text" class="input-text required" id="name" maxlength="15" name="apply.teamName" />
			</div>
		</div>
		<div class="row">
			<label><span class="em">*</span>队长QQ:</label>
			<div class="con">
				<input  type="text" class="input-text required" id="qq" maxlength="20" name="apply.teamLeaderQQ"/>
			</div>
		</div>
		<div class="row">
			<label><span class="em">*</span>队长手机号(仅用于活动短信通知):</label>
			<div class="con">
				<input type="text" class="input-text required" id="phone" maxlength="11" name="apply.teamLeaderTel"/>
			</div>
		</div>
		<div class="row">
			<label><span class="em">*</span>队长个人荣誉值(游戏内):</label>
			<div class="con">
				<input type="text" class="input-text required" id="count" maxlength="10" name="apply.teamLeaderHonor"/>
			</div>
		</div>
		<div class="row">
			<label><span class="em">*</span>游戏服务器:</label>
			<div class="con">
				<div class="con-select">
				<select class="select required" id="server" name="apply.gameServerName">
					<option value="">请选择游戏服务器</option>
					<option value="不败要塞">不败要塞</option>
					<option value="帝国之锋">帝国之锋</option>
					<option value="永恒哨塔">永恒哨塔</option>
					<option value="凯旋之门">凯旋之门</option>
				</select>
				<div class="icon-arrow"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<label><span class="em">*</span>游戏个人资料截图（包含比赛胜率/次数）:</label>
			<!--上传前-->
			<div class="con update-con " id="update-photo-new">
				<div class="btn-update required">点击上传</div>
				<input type="file" id="file-img" multiple="multiple" class="btn-file" name="imgFile">
				<input type="hidden" class="required" id="update-none" />
			</div>
			
			<!--上传后-->
			<div class="con update-con con-update" id="update-photo" style="display: none;">
				<div class="btn-update-reset">重新上传</div>
				<input type="file" id="tem-file" multiple="multiple"  class="btn-file" name="imgFile" accept="image/*">
				<div class="show-update">
					<img src="http://placehold.it/60x60" width="30" height="30" id='imgShow'>
				</div>
			</div>
			<div class="con-tips">(图片5M内,若提交不成功联系QQ：17342925)</div>
		</div>
		<input type="submit" class="btn-sub" value="提交" id="send"  />
    </form>
    <div class="btn-close"></div>
</div>