#{extends 'common/pc_main.html' /}
#{set title:'自由之战3F职业联赛' /}

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" href="/public/css/ziyou_v2.css">
#{/set}

#{set 'moreScripts'}
    <script src="/public/js/app/ziyou_v2/home.js"></script>
    <script src="/public/js/app/ziyou_v2/form.js"></script>
    <script src="/public/js/app/ziyou_v2/file_imgload.js"></script>
#{/set}

<div class="top">
        <h1>自由之战3F职业联赛</h1>
        <img src="/public/images/top_1.jpg" width="1000">
        <img src="/public/images/top_2.jpg" width="1000">
        <img src="/public/images/top_3.jpg" width="1000">
</div>
<div class="top-nav">
    <ul>
        <li class="nav-1"><a href="index.html">首页<span class="text">home</span></a></li>
        <li class="nav-2 on"><a href="intro.html">赛事说明<span class="text">description</span></a></li>
        <li class="nav-3"><a href="#">战队报名<span class="text">sign up</span></a></li>
    </ul>
</div>
<div class="act-intro">
	<div class="mod-title"><span class="arrow"></span>活动介绍</div>
    <ul>
        <li>自由之战职业联赛（3F联赛）是由第一MOBA手游《自由之战》联合首款手游语音工具——电竞侠共同举办的大型线上竞技比赛，每届联赛将分为入围赛、晋级赛、总决赛三个部分，入围赛将有128个战队进入晋级赛，争夺最高的“电竞侠杯”赛事荣誉与奖金。
九游作为长期举办电竞比赛的手游媒体，将对本届比赛提供全程媒体支持。</li>
    </ul>
  <div class="mod-title"><span class="arrow"></span>活动奖励</div>
    <ul>
        <li>冠军：三星S6 3部+50000元充值卡+奖杯+战服3件+上海CJ门票3张</li>
        <li>亚军：三星S6 3部+30000元充值卡+奖杯+战服3件+上海CJ门票3张</li>
        <li>季军：三星S6 3部+20000元充值卡+奖杯+战服3件+上海CJ门票3张</li>
        <li>第4-8名：8000元充值卡+战服3件</li>
        <li>第9-32名：5000元充值卡+战服3件</li>
        <li>第33-64名：战服3件+高级皮肤礼包</li>
        <li>第65-128名：加赠高级皮肤礼包</li>
        <li>报名即送：7天英雄皮肤（随机）</li>
    </ul>
     <div class="mod-title"><span class="arrow"></span>比赛时间</div>
    <ul>
        <li>6月28日14:00：分区赛16进8（1局制）</li>
        <li>6月28日16:00：分区赛8进4 （1局制）</li>
        <li>7月5日14:00：分区赛4进2 （1局制）</li>
        <li>7月5日16:00：分区赛2进1 （1局制）</li>
        <li>7月12日14:00：半决赛8进4 （3局2胜制）</li>
        <li>7月19日14:00：总决赛之冠亚季军争夺赛（循环赛）</li>
    </ul>
    <div class="mod-title"><span class="arrow"></span>比赛要求</div>
    <ul>
        <li>1.加入赛区群：每个赛区都有对应的KK群，将由KK裁判邀请对应赛区的战队队长加入，入群后，请各位队长根据分组情况，主动将群名片改为X组X队(战队名),例:2组红队 战盟天下；</li>
        <li>2.提交房间号：比赛前10分钟，由每组红队队长在游戏内建好房间—选择天梯模式（3v3）,房间名称为:KK联赛 X区X组，建好房间号单独发给KK赛区裁判；</li>
        <li>3.设置房间密码：建好的房间需要设置房间密，并将密码告诉蓝队队长（建议双方队长提前在游戏内加为好友，方便邀请）；（无观战模式密码由红队自行设置）</li>
        <li>4.开始比赛：房间内所有成员进入“准备“状态后，即可开始比赛；</li>
        <li>5.比赛视频录制：比赛双方需要各安排一个人录制比赛视频，比赛结束后由胜出的一方发给KK赛区裁判；（不强制）</li>
        <li>6.提交比赛结果：比赛结束后，胜出的一方需要将“胜出截图、战绩截图、比赛视频“发给KK赛区裁判；</li>
        <li>7. 比赛结果判定：入围赛及分区赛均为一局定胜负，半决赛、总决赛为三局两胜制。</li>
    </ul>
    <div class="mod-title"><span class="arrow"></span>注意事项</div>
    <ul>
        <li>1.本次联赛区服为【不败要塞】（安卓+苹果专服）</li>
        <li>2.比赛开始前请双方队长务必确认已方队员到位无误后再点击“准备“及”开始比赛“；</li>
        <li>3.比赛开始后半小时，如果有一方没到场，另一方则需要及时联系赛区管理员判定是否默认晋级；如果双方均无到场，则视为双方同时弃权；</li>
        <li>4.比赛开始前房主需向KK赛区管理员发出“比赛开始“说明，若比赛开始三分钟内出现无法载入、掉线情况，队长需及时向赛区管理员说明情况申请重赛，赛区管理员会根据具体情况确定重赛可能性，并通知两队队长重新建房间比赛。</li>
        <li>5.比赛开始三分钟后，若出现非双方同时掉线、卡顿等情况（个别掉线情况），掉线者请尽快重连，一般不予考虑重赛，比赛结果以实际结果为准；</li>
        <li>6.胜方需提供至少两张截图。胜出截图：显示比赛胜利、结算奖励的画面；战绩截图：当场比赛双方的战斗数据截图。若由胜方提供截图不齐全造成比赛结果出现争议，官方将根据实际情况判定双方同时淘汰或进行重赛；</li>
        <li>7.同一账号禁止参加不同队伍的比赛，一经发现，取消所有违规队伍的参赛及得奖资格；</li>
        <li>8.如比赛前有一方队伍宣布弃权，必须由弃权队伍队长联系赛区负责人进行说明；</li>
        <li>9.如需调整比赛时间，请先与对方队长协商，如果对方同意，需双方一起通知赛区负责人，比赛时间经协商后可以提前或延后，但延后不能迟于当天晚上22:00；如对方不同意，则按原定时间进行比赛；</li>
        <li>10.比赛中不得使用任何第三方辅助软件(聊天工具除外)，否则视为违规并取消参赛资格；</li>
        <li>11.如果对比赛存在疑问，可在KK赛区群联系赛区管理员（即群主）咨询。</li>
    </ul>
</div>

#{include file="common/footer.html" /}
#{include file="pc/zyzz/apply.html" /}