<!DOCTYPE html>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>英雄团 职业联赛 - 电竞侠</title>
	<meta name="keywords" content="电竞侠,英雄团 ,FPL联赛,视频直播,战队联赛,战队报名,战队排名" />
	<meta name="description" content="电竞侠——最火的手游战队平台，全球首款为手游战队打造的免费手机游戏语音聊天软件，集领礼包、混战队、即时聊天为一体。实现用户在时空猎人、我叫MT、天天飞车、天天酷跑、放开那三国、刀塔传奇等多款手机网游内实时语音。" />
	<link rel="stylesheet" type="text/css" href="/public/css/yingxiong.css">
</head>
<body>
	<div class="main">
			<h1>英雄团 职业联赛</h1>
			<div class="bg1"></div>
			<div class="bg2"></div>
			<div class="bg3"></div>
			<div class="btns">
				<a href="/yxt.html" class="btn-sign btn" >报名</a>
			</div>
	</div>
	#{include file="common/footer.html" /}
	
	<!--浮层 报名失败-->
	<div class="pop-info">
		<div class="head">填写报名信息</div>
		<div class="info-con">
			
		<div class="text"><span class="icon-error"></span>很抱歉，报名失败，<a href="javascript:history.go(-1)">请重新填写报名信息.</a></div>
		</div>
		<a class="close" href="/yxt.html">关闭</a>
	</div>
	
</body>
</html>