<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon" />
    <title>电竞侠 - 移动电竞全民赛事平台</title>
    <meta name="keywords" content="电竞手游,电竞手游联赛,电竞手游视频,电竞手游实时语音开黑,自由之战联赛,自由之战视频,穿越火线手游联赛,穿越火线手游视频,电竞手游战队,电竞手游礼包,电竞手游论坛,电竞手游专区" />
    <meta name="description" content="电竞侠 - 手游电竞平台提供全面丰富的手游赛事、高清电竞手游视频、实时语音开黑服务，包含自由之战、王者荣耀、穿越火线手游、全民枪战、全民超神、虚荣、时空召唤、梦三国手游、部落冲突COC、火线精英手游、英雄团、全民突击、魔霸之王等电竞手游联赛、视频、开黑！内容最快最全，带给你不一样的电竞手游体验。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, target-densitydpi=medium-dpi, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="mobile-agent" content="format=html5;url=http://m.kkyuyin.com/">
    <script>var _hmt = _hmt || [];(function() {  var hm = document.createElement("script");  hm.src = "//hm.baidu.com/hm.js?02e07b23789913ae8bfd16e42111d804";  var s = document.getElementsByTagName("script")[0];   s.parentNode.insertBefore(hm, s);})();</script>
    <link rel="stylesheet" type="text/css" href="/public/css/mobile/index.css?003">
</head>
<body>
<div class="show-act">
    <a href="/m/match/index.html"><img src="/public/images/mobile/ad_banner.png"> </a>
</div>
<style>
.show-act{
     background-color:#0e1a21}
</style>
<div class="section section-home" id="sectionHome">
        <h1>电竞侠</h1>
        <div class="down-link">
            <div class="ios-link" style="opacity:1">
                <a href="https://itunes.apple.com/cn/app/kk-yu-yin/id938568880?mt=8"><span class="name" >iOS</span>
                <span class="version" >最新版</span>
                </a>
            </div>
            <div class="android-link"><a href="javascript:download('android')"><span class="name">Android</span><span class="version">最新版</span></a></div>
        </div>
        <div class="show-photo">
            <div class="show-photo-con">
                <ul id="slidePhoto">
                    <li><img src="/public/images/mobile/show_1.png" width="118" height="210"></li>
                </ul>
            </div>
        </div>
        <div class="icon-arrow"></div>
    </div>
    <div class="section section0 active" id="section0">
		<div class="intro-con">
			<div class="intro0_bg"></div>
			<div class="intro0_start1"></div>
			<div class="intro0_start2"></div>
			<div class="intro0_hand1"></div>
			<div class="intro0_hand2"></div>
			<div class="intro0_hand3"></div>
		</div>
	    <h2 class="title">手游联赛系统</h2>
	    <p class="con">最全的手游联赛平台，丰厚的奖品，系统自<br>动分配对战对手，公平比赛</p>
	</div>
    <div class="section section1" id="section1">
        <div class="intro-con">
            <div class="intro1_house"></div>
            <div class="intro1_balloon1"></div>
            <div class="intro1_balloon2"></div>
            <div class="intro1_balloon3"></div>
            <div class="intro1_balloon4"></div>
        </div>
        <h2 class="title">完善的战队系统</h2>
        <p class="con">完整的战队管理系统,战队功勋体系及战队论<br />坛,支持礼包自助发放,助力战队发展</p>
    </div>
    <div class="section section2" id="section2">
        <div class="intro-con">
            <div class="intro2_man1"></div>
            <div class="intro2_man2"></div>
            <div class="intro2_man3"></div>
            <div class="intro2_message1"></div>
            <div class="intro2_message2"></div>
            <div class="intro2_message3"></div>
        </div>
        <h2 class="title">手游团战语音</h2>
        <p class="con">独特的游戏浮窗聊天,支持多人实时语音,打<br />打造手游沟通神器</p>
    </div>
    <div class="section section3" id="section3">
        <div class="intro-con">
            <div class="intro3_bag1"></div>
            <div class="intro3_bag2"></div>
            <div class="intro3_coin"></div>
            <div class="intro3_50"></div>
            <div class="intro3_100"></div>
            <div class="intro3_balloon1"></div>
            <div class="intro3_balloon2"></div>
            <div class="intro3_star1"></div>
            <div class="intro3_star2"></div>
        </div>
        <h2 class="title">百万福利礼包</h2>
        <p class="con">玩游戏领礼包，省的不止一点点</p>
    </div>
    <div class="section section4" id="section4">
        <div class="intro-con">
            <div class="intro4_delta"></div>
            <div class="intro4_circle1"></div>
            <div class="intro4_circle2"></div>
            <div class="intro4_circle3"></div>
            <div class="intro4_circle4"></div>
            <div class="intro4_point1"></div>
            <div class="intro4_point2"></div>
            <div class="intro4_point3"></div>
            <div class="intro4_point4"></div>
            <div class="intro4_point5"></div>
        </div>
        <h2 class="title">游戏吧</h2>
        <p class="con">与玩家交流、领取激活码，更多惊喜，分享喜悦</p>
    </div>
    <div class="section section5" id="section5">
        <div class="intro-con">
            <div class="intro5_circle"></div>
            <div class="intro5_man1"></div>
            <div class="intro5_man2"></div>
            <div class="intro5_man3"></div>
            <div class="intro5_man4"></div>
        </div>
        <h2 class="title">同区玩伴</h2>
        <p class="con">跟孤独寂寞冷说拜拜，跟同区玩伴们Say Hi</p>
    </div>
    <div class="section section6" id="section6">
        <div class="intro-con">
            <h2 class="contact-title">联系方式</h2>
            <div class="contact-con">
                <div class="contact-way"><span class="icon-qq"></span>合作QQ: 98236</div>
            </div>
            <h2 class="down-title">下载</h2>
            <div class="down-link">
                
                <div class="android-link"><a href="javascript:download('android')"><span class="name">Android</span><span class="version">最新版</span></a></div>
                <div class="ios-link" style="opacity:1">
	                <span class="name" >iOS<span style="font-size:10px; position:relative; top: -1px;"> 即将公测</span></span>
	                <span class="version" >Q群 348250658</span>
                </div>
            </div>
       </div>
    </div>
    <form style="display:none" id="form" method="post" target="downloadfrm" action="@{KKHomePage.downloadLog()}">
        <input type="hidden" name="platform" id="platform">
    </form>
    <iframe name="downloadfrm" style="display:none"></iframe>
</body>
<script type="text/javascript" src="/public/js/mobile/index.js?002"></script>
<script>
    var downloadUrl = 'http://api2.kkyuyin.com/app/downloadApk';
    var url= window.location.search;
    if(url.indexOf("?")!=-1)
    {
        var params = url.substring(1).split("?");
        var froms=params[0].split("=");
        if(froms[0]=='from')
        {
            downloadUrl = 'http://api2.kkyuyin.com/app/downloadApk?from='+froms[1];
        } 
    }
    
    if(${isFromWeixin}){
        downloadUrl = 'http://api.kkyuyin.com/download';
    }

    function download(platform) {
       document.getElementById('platform').value = platform;
       document.getElementById('form').submit();
       window.setTimeout('forward()',500);
    }
    
    function forward() {
        document.location.href = downloadUrl;
    }
    
</script> 
</html>