<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>电竞侠</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, target-densitydpi=medium-dpi, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="/public/css/mobile/px2014.css">
</head>
<body>
<header class="top">
	<h1>金盾奖 2014年度战队评选</h1>
	<p>万现金等你来拿</p>
	<img src="/public/images/mobile/bg_vote_top.png" width="100%">
</header>
<ul class="menu">
	<li class="space"><a href="index.html">官网首页</a></li>
	<li class="space"><a href="vote.html">投票专区</a></li>
	<li><a href="rule.html">奖项及规则</a></li>
	<li class="current"><a href="lapiao.html">拉票有奖</a></li>
</ul>
<ul class="intro-con">
		<li><h2>活动时间</h2><p>2014.12.18 - 2015.1.15</P></li>
			<li class="gift-table"><h2>战队奖励</h2>
				<table class="table-list">
					<tr>
						<th class="bg-blue">排名</th>
						<th>现金奖励</th>
						<th>礼包奖励</th>
						<th>参与人数要求</th>
					</tr>
					<tr>
						<td class="text-blue">第1名</td>
						<td>1500元</td>
						<td>150枚</td>
						<td>不得低于100人</td>
					</tr>
					<tr>
						<td class="text-blue">第2名</td>
						<td>1000元</td>
						<td>100枚</td>
						<td>不得低于80人</td>
					</tr>
					<tr>
						<td class="text-blue">第3名</td>
						<td>500元</td>
						<td>70枚</td>
						<td>不得低于40人</td>
					</tr>
					<tr>
						<td class="text-blue">参与奖</td>
						<td>&nbsp;</td>
						<td>20枚</td>
						<td>不行低于 10人</td>
					</tr>
				</table>
			</li>
			<li><h2>玩家奖励</h2>
				<p>1、参与游戏喊话，即可获得该游戏礼包一份、铜币500枚。</p>
				<p>2、每天随机奖励100名玩家充值卡、贡献、功勋（随机一份）。</p>
			</li>
			<li><h2>活动规则</h2>
				<p>（指定游戏：刀塔传奇、放开那三国、新三国争霸、帝王三国、去吧皮卡丘、全民奇迹、热血奇航、天龙八部3D、三国战神、征途）</p>
				<p>1、活动期间在指定的游戏内世界频道喊话截图上传到队长指定帖，即可获得该款游戏的高价值礼包一个，将会根据战队成员参与人数评选前三名勤劳战队给予丰厚大奖。
世界喊话内容，例：</p>
<p>
A、我在电竞侠XXXX战队，参与电竞侠年度战队评选，100%能获得稀有礼包，还有机会获得充值卡奖励</p>
<p>B、XXX战队正在电竞侠参与年度战队评选，参与投票100%有奖（稀有礼包、充值卡）</p>
<p></p>
<p>
2、队长在自己战队吧发布截图上传帖，组织战队员参与喊话并上传截图，活动结束后将此帖分享至10009记录。以便统计发奖，活动帖标题：XXXX战队《威名远扬》活动专帖</p>
<p>
B、截图必须含有自己的角色信息或人物</p>
<p>C、复制他人截图视为无效</p>
<p></p>
<p>3、所有奖励将在活动结束后，七个工作日内发放到位哟</p>
			</li>
		</ul>
</body>
</html>