<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>电竞侠</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, target-densitydpi=medium-dpi, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="/public/css/mobile/px2014.css?v=3">
</head>
<body>
<header class="top">
	<h1>金盾奖 2014年度战队评选</h1>
	<p>万现金等你来拿</p>
	<img src="/public/images/mobile/bg_vote_top.png" width="100%">
</header>
<ul class="menu">
	<li><a href="index.html">官网首页</a></li>
	<li class="current"><a href="#">投票专区</a></li>
	<li class="space"><a href="rule.html">奖项及规则</a></li>
	<li><a href="lapiao.html">拉票有奖</a></li>
</ul>

<ul class="intro-con">
	<li><h2>活动介绍</h2><p>东风吹，战鼓擂，战队时代谁怕谁？电竞侠首届年度嘉年华正式开启；会战在即，百万豪礼送勇士，荣誉丰碑赠英雄；万事具备，只待东风，你准备好了吗？</P></li>
	<li><h2>投票时间</h2><p class="em">2015.1.1-2015.1.15</p></li>
	<li><h2>奖励规则</h2><p>每天参与投票均可获得100铜币。</p></li>
</ul>
<div class="gift-con">
	<h2>奖品展示</h2>
	<div class="gift-con-list">
	<ul>
			<li>
				<div class="pic"><img src="../public/images/temp/004.png"></div>
				<div class="name">20万现金</div>
			</li>
			<li>
				<div class="pic"><img src="../public/images/temp/001.png"></div>
				<div class="name">金盾奖杯</div>
			</li>
			<li>
				<div class="pic"><img src="../public/images/temp/002.png"></div>
				<div class="name">荣誉证书</div>
			</li>
			
	</ul>
	</div>
</div>
<div class="speaker">
	<ul class="line">
		<li>厦门新游网络: 携《帝王三国》祝电竞侠战队评选大赛圆满成功！</li>
		<li>深圳逐鹿科技:《霸天下》祝电竞侠打造战队平台NO.1！</li>
		<li>西山居: 最火爆的战队语音，最权威的评选！尽在电竞侠！</li>
		<li>成都龙渊网络: 恭祝活动圆满成功！2015勇创新高！</li>
		<li>完美世界: 携完美同仁谨祝电竞侠更创佳绩！</li>
		<li>北京畅游: 畅游祝电竞侠成为最强战队语音软件！</li>
		<li>天津八八六四:《神之刃》与合作伙伴共创辉煌！</li>
		<li>中清龙图: 祝电竞侠人气节节攀高！</li>
		<li>神奇时代:《卧虎》祝电竞侠越办越火爆！活动成功！</li>
		<li>巴别时代: 祝电竞侠人气越来越旺，成为行业典范！</li>
		<li>成都卓星科技: 携《全民枪战》祝电竞侠活动成功，越办越红火！</li>
		<li>天象互动: 祝电竞侠成为最好的战队交流软件！</li>
		<li>巨人网络: 祝电竞侠越办越好，越来越精彩！</li>
		<li>上海悦腾: 携《全民奇迹》祝电竞侠越办越好！</li>
		<li>广州谷得: 广州谷得祝玩家破亿！敬请关注谷得新游！</li>
		<li>银汉科技: 祝电竞侠更创佳绩，做最强手游语音！</li>
		<li>昆仑乐享: 昆仑祝电竞侠再创伟业！再铸辉煌！</li>
		<li>苏州蜗牛: 祝电竞侠PV量步步高升！</li>
		<li>四三九九: 与合作伙伴携手并进！共创手游新天地！</li>
		<li>顽石互动: 电竞侠，响当当的战队玩家聚集地！祝活动圆满成功！</li>
		<li>成都九方: 携《仙国志》祝电竞侠活动圆满成功！</li>
		<li>网易雷火: 预祝2014手游战队评选火热启动！</li>
		<li>成都触控: 祝电竞侠活动圆满成功！</li>
		<li>乐动卓越: 祝电竞侠人气爆棚、玩家越来越多！</li>
		<li>魔方无限: 北京魔方祝电竞侠活动圆满成功，再创佳绩！</li>
		<li>云海情天: 祝电竞侠越办越好！合作共赢！</li>
	</ul>
</div>
<div class="gonghui-con">
	<ul class="gh-nav">
		<li class="list-1 current">TOP10王者战队评选</li>
		<li class="list-2">TOP10新锐战队评选</li>
	</ul>
	<div class="gh-list-con">
	<!--TOP10王者战队评选 开始-->
	<div class="gh-list">
		<ul>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/2f923dc808bd47519109857403b9fa24.jpg"></div>
						<div class="name">1.巅峰聚義</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/aabb7880454e406d903174eabbef2db7.jpg"></div>
						<div class="name">2.帝国风云天下</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/f9ef5dc0a7a04d0d9f2d7456be770eb6.jpg"></div>
						<div class="name">3.梦想战队</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/675d95f5d19c4f59a37d624ee6751e14.jpg"></div>
						<div class="name">4.魂隐轻吟</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/6a91613edd55404f980b6e5dcf195faf.jpg"></div>
						<div class="name">5.3、K</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/4510fedfa00d46dfb5b3de8251f1c5bb.jpg"></div>
						<div class="name">6.掌悦天下</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/8a882bbc8b6347f6b86430b0e102474f.jpg"></div>
						<div class="name">7.倾城之恋</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/clip_510d1304d8ef45a29a29400772df604b.jpg"></div>
						<div class="name">8.墨者联盟</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/7666097de7844c2d9ceaf171c67e225f.jpg"></div>
						<div class="name">9.Ray皇朝</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/3f931ac1d65745808a40ed21cf1fcee5.jpg"></div>
						<div class="name">10.唯吾独尊</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/668db216ce2347239af9cd6f2ee62c1f.jpg"></div>
						<div class="name">11.辉煌无双</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					
						<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/42bd951f7bfb45f4860b05d7f98874cb.jpg"></div>
						<div class="name">12.腾飞战队</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/b92d6ec176de4e258f9baf0aa5cacd95.jpg"></div>
						<div class="name">13.无双绝世</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/fc1f0d108e8c4bb69546e10b699d5668.jpg"></div>
						<div class="name">14.桃园结义</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/aa42693aef394007b2e6f14576170e7b.jpg"></div>
						<div class="name">15.耀世轩辕</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/760427a8522b4837bdbfd46df0c4a4ef.jpg"></div>
						<div class="name">16.醉夢红尘</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/clip_1e62316ca75f48248ae33d57a89216f9.jpg"></div>
						<div class="name">17.云烟雨雾</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/957a801765704d0fb4ae84c8b5a2f05d.jpg"></div>
						<div class="name">18.唯恋不渝</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/c324f84d6cdf455caa4c9520c10e52f7.jpg"></div>
						<div class="name">19.最 拉 风</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/258b2c49c4b34100bd430dc9fde3d469.jpg"></div>
						<div class="name">20.黑骑禁卫</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/3ae6e54313cd4f78af044a1e5284fa94.jpg"></div>
						<div class="name">21.綄羙旋律</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/4250ce96b43e4198920818ab43437a4b.jpg"></div>
						<div class="name">22.倾城傲世</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/8eabdbd21a2e4163923b45ca09e5b0ab.jpg"></div>
						<div class="name">23.倾城绝恋</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/69af69f2855b4275a2793fc94d56d473.jpg"></div>
						<div class="name">24.惊世霸业</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/58e3ebe062ab45939ee7e7f574e8e43d.jpg"></div>
						<div class="name">25.皇朝不灭</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/4e09c391c32841c6be1a0265c457bf7f.jpg"></div>
						<div class="name">26.名门天下</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/dc474cb49451403a9de4ece86ae5bf58.jpg"></div>
						<div class="name">27.霸气嗜杀</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/3ec270db5bf44c1db3b69e019a8e24d4.jpg"></div>
						<div class="name">28.弑帝辉煌</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/c301bd49eaca44b5bb9c342bf0a7aea1.jpg"></div>
						<div class="name">29.圣朝联盟</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/8ee2e5b4fbe147419109b80bd643a48d.jpg"></div>
						<div class="name">30.兄 弟 盟</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/18c3dd254c6f4ddaa8b24233b7b41bc5.jpg"></div>
						<div class="name">31.霸气龙魂</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/2ab7ace56a5d4ac680953dd4da26b963.jpg"></div>
						<div class="name">32.ZY战队</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/f7d5f3fc7ab940e390ca1628571182b4.jpg"></div>
						<div class="name">33.神靈霸天</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/de0e5301275d41b5a34fe19e98c404f7.jpg"></div>
						<div class="name">34.壹度倾城</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/3475fa4db92f4e0a973db447c802e9eb.jpg"></div>
						<div class="name">35.名动天下</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/a305b13e32cd40eb9c25aa609df02e72.jpg"></div>
						<div class="name">36.Ing国度</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
						<div class="pic"><img src="../public/images/temp/ghlogo/a3e3347b5aad456db4f02adc56bef0e1.jpg"></div>
						<div class="name">37.酷炫天下</div>
						<a href="#" class="btn-vote">投票</a>
					</li>
		</ul>
	</div>
	<!--TOP10王者战队评选 结束-->
	<!--TOP10新锐战队评选 开始-->
	<div class="gh-list" style="display: none;">
		<ul>
			<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/f51b46e932e3497aa4f8dc734dcf5ca3.jpg"></div>
					<div class="name">1.狼族、图腾</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/04dff836e3fe414c9b2702ff73d45a00.jpg"></div>
					<div class="name">2.上帝禁区</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/517eae59e41f4e1181700d0155be23cc.jpg"></div>
					<div class="name">3.倾城礼包首充会</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/ff8ebddf0f364e2db6950d2e899b8167.jpg"></div>
					<div class="name">4.九游战盟</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/f800c39dcf364d2fafdf92a32181872d.jpg"></div>
					<div class="name">5.耀世</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/2f4862a2d36e4cc3aaae7f0d2ccb3667.jpg"></div>
					<div class="name">6.九游倾城狼族</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/01cd0a3abb204086a260a56baa2f4ec1.jpg"></div>
					<div class="name">7.百包荟萃</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="/public/images/temp/logo_118.png"></div>
					<div class="name">8.热血家族</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/clip_63b9e8cf63194fccbf1b835efb6aa933.jpg"></div>
					<div class="name">9.冰城手游战队</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/57e25f11e4004e7ca8d4b9cef75754f8.jpg"></div>
					<div class="name">10.上帝之手</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/ad4823e012e5475abbedf728c824c7b9.jpg"></div>
					<div class="name">11.☆唯美♡情缘☆</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/ce079bb9bbba42788f6f90c655d2586f.jpg"></div>
					<div class="name">12.【逐梦情缘】</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/4365e2387577476c8bbc3e314f39b2c4.jpg"></div>
					<div class="name">13.乱世英雄</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/9f24c3e98607403cb814d513e9558e38.jpg"></div>
					<div class="name">14.-铭门｜氏族</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/0c774225eb4c43818380d85936511c5b.jpg"></div>
					<div class="name">15.╰»┉*鬦愙*┉«╯</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/f8722e1368da4ebfb084b2e6b8941791.jpg"></div>
					<div class="name">16.焚天★灭地</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/859b30faa61c4abb8d8de5a4d3250c19.jpg"></div>
					<div class="name">17.戰歌</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/a4f9507b080e4170a10b800642ace566.jpg"></div>
					<div class="name">18.九游紫轩阁</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/880c57e9cd5c42ceb7461f53ebf7b96b.jpg"></div>
					<div class="name">19.血染契约〖盟〗</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/783c2771c5604b70a17adc7cdd684b73.jpg"></div>
					<div class="name">20.灬Lucky</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/1c29b9551e2f48b487b9e6343665caf2.jpg"></div>
					<div class="name">21.〓聚義♚情緣〓</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="/public/images/temp/logo_118.png"></div>
					<div class="name">22.热血圣域</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/b8632b4786e84600ae32138cdfa22059.jpg"></div>
					<div class="name">23.噬神℡天狼</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/ea547c2d6e9b4cb587e33b2794e7c447.jpg"></div>
					<div class="name">24.幼灵丶</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/b392f3b541a2447d93856b8e6966f5e8.jpg"></div>
					<div class="name">25.挚爱永恒</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/clip_ebd5342cdc524b888ebe25c860f3d81b.jpg"></div>
					<div class="name">26.☜KO☞</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/238bb55bd5a241cc910927971b5263ea.jpg"></div>
					<div class="name">27.♚戰國ヾ兲下</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/2e341506590c4facbe5c892e0b9e25c1.jpg"></div>
					<div class="name">28.🏆缘迹天涯🏆</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/9439c7a57c694cc8b29d10f17e884c7d.jpg"></div>
					<div class="name">29.【永恒】</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					<li>
					<div class="pic"><img src="../public/images/temp/ghlogo/c7a0d2fe5a0c4a85abd963879a06a5bd.jpg"></div>
					<div class="name">30.☞绝世灬 義天</div>
					<a href="#" class="btn-vote">投票</a>
					</li>
					
		</ul>
	</div>
	</div>
	<!--TOP10新锐战队评选 结束-->
</div>
<form style="display:none" id="form" method="post" target="downloadfrm" action="@{KKHomePage.downloadLog()}">
        <input type="hidden" name="platform" id="platform">
    </form>
	<!--投票浮层-->
	<div class="pop-mask" style="display:none;"></div>
	<div class="pop-vote" style="display:none;">
		<div class="hd">提示</div>
		<div class="kk-logo"></div>
		<div class="name">请下载电竞侠完成投票</div>
		<a href="javascript:download('android')" class="btn-down">立即下载</a>
		<a href="#" class="icon-close">关闭</a>
	</div>

</body>
<script language="javascript" type="text/javascript" src="/public/js/mobile/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/public/js/mobile/px2014.js"></script>

<script>
    
   
        
    var downloadUrl = 'http://api2.kkyuyin.com/app/downloadApk';
    var url= window.location.search;
    if(url.indexOf("?")!=-1)
    {
        var params = url.substring(1).split("?");
        var froms=params[0].split("=");
        if(froms[0]=='from')
        {
            downloadUrl = 'http://api2.kkyuyin.com/app/downloadApk?from='+froms[1];
        } 
    }
    
    if(${isFromWeixin}){
        downloadUrl = 'http://api.kkyuyin.com/download';
    }

    function download(platform) {
       document.getElementById('platform').value = platform;
       document.getElementById('form').submit();
       window.setTimeout('forward()',500);
    }
    
    function forward() {
        document.location.href = downloadUrl;
    }
    
</script> 
</html>