<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>自由之战3F职业联赛 - 电竞侠 </title>
	<meta name="keywords" content="电竞侠,自由之战,自由之战联赛,3F联赛,FPL联赛,视频直播,战队联赛,战队报名,战队排名" />
	<meta name="description" content="电竞侠——最火的手游战队平台，全球首款为手游战队打造的免费手机游戏语音聊天软件，集领礼包、混战队、即时聊天为一体。实现用户在时空猎人、我叫MT、天天飞车、天天酷跑、放开那三国、刀塔传奇等多款手机网游内实时语音。" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, target-densitydpi=medium-dpi, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="/public/css/mobile/ziyou.css?v001">
</head>
<body class="home">
	<div class="home-show">
		<img src="/public/images/mobile/zy_bg.jpg" width="100%">
		<h1>自由之战3F职业联赛</h1>
		<div class="btns">
			<a href="./ziyou_sign.html"><div class="btn-sign" onclick="this.className='btn-sign press'">报名</div></a>
			<a href="javascript:download('android')"><div class="btn-down" onclick="this.className='btn-down press'">下载电竞侠</div></a>
		</div>
	</div>
	<form style="display:none" id="form" method="post" target="downloadfrm" action="@{KKHomePage.downloadLog()}">
        <input type="hidden" name="platform" id="platform">
    </form>
    <iframe name="downloadfrm" style="display:none"></iframe>
</body>
<script>
    
    var downloadUrl = 'http://api2.kkyuyin.com/app/downloadApk';
    var url= window.location.search;
    if(url.indexOf("?")!=-1)
    {
        var params = url.substring(1).split("?");
        var froms=params[0].split("=");
        if(froms[0]=='from')
        {
            downloadUrl = 'http://api2.kkyuyin.com/app/downloadApk?from='+froms[1];
        } 
    }
    
    if(${isFromWeixin}){
        downloadUrl = 'http://api.kkyuyin.com/download';
    }

    function download(platform) {
       document.getElementById('platform').value = platform;
       document.getElementById('form').submit();
       window.setTimeout('forward()',500);
    }
    
    function forward() {
        document.location.href = downloadUrl;
    }
    
</script> 
</html>