#{extends 'common/mobile_main.html' /}
#{set title:'自由之战3F职业联赛-电竞侠' /}

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" href="/public/css/mobile/ziyou_v2.css">
#{/set}

#{set 'moreScripts'}
    <script src="/public/js/mobile/zyzz_v2/home.js"></script>
#{/set}

<header class="top">
    <img src="/public/images/mobile/top.jpg" width="100%">
    <img src="/public/images/mobile/top_title.jpg" width="100%">
</header>
<ul class="top-nav">
    <li><a href="@{Activity.mobileZyzzIndex}">首页</a></li>
    <li><a href="@{Activity.zyzzTeam}">精英战队</a></li>
    <li class="on"><a href="javascript:void(0);">精彩视频</a></li>
    <li><a href="@{Activity.mobileZyzzIntro}">赛事说明</a></li>
    <li><a href="@{Activity.zyzzApply}">战队报名</a></li>
</ul>
<ul class="video-list">
    #{list items:vedioList, as:'vedio'}
        <li>
            <a href='${vedio["vedioUrl"]}' target='_blank'>
                <div class="item-video">
                    <div class="pic"><img src='${vedio["vedioPic"]}' width='140' height='77'></div>
                    <div class="name">${vedio["desc"]}</div>
                    <div class="video-mask"></div>
                </div>
            </a>
        </li>
    #{/list}
</ul>