<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>《全民枪战》南北对抗赛 - 电竞侠</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, target-densitydpi=medium-dpi, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="/public/css/mobile/quanmin.css">
</head>
<body>
	<div class="head">填写报名信息</div>
	<div class="info-con">
		<div class="text"><span class="icon-succ"></span>恭喜,报名成功!<br /><a href="javascript:download('android')">点击下载电竞侠</a>了解最新比赛通知.</div>
	</div>
	<form style="display:none" id="form" method="post" target="downloadfrm" action="@{KKHomePage.downloadLog()}">
        <input type="hidden" name="platform" id="platform">
    </form>
    <iframe name="downloadfrm" style="display:none"></iframe>
</body>
<script>
    var downloadUrl = 'http://api2.kkyuyin.com/app/downloadApk';
    var url= window.location.search;
    if(url.indexOf("?")!=-1)
    {
        var params = url.substring(1).split("?");
        var froms=params[0].split("=");
        if(froms[0]=='from')
        {
            downloadUrl = 'http://api2.kkyuyin.com/app/downloadApk?from='+froms[1];
        } 
    }
    
    if(${isFromWeixin}){
        downloadUrl = 'http://api.kkyuyin.com/download';
    }

    function download(platform) {
       document.getElementById('platform').value = platform;
       document.getElementById('form').submit();
       window.setTimeout('forward()',500);
    }
    
    function forward() {
        document.location.href = downloadUrl;
    }
    
</script>
</html>