<div class="footer">
        <div class="contact">
            <span class="icon-qq"></span>合作QQ: 98236
        </div>
        <div class="link">
            友情链接: <a href="http://www.9game.cn/">九游游戏</a> 
            <a href="http://esports.games.sina.com.cn/">新浪电竞</a> 
            <a href="http://www.uuu9.com/">游久网</a> 
            <a href="http://www.mycea.net/">电子竞技</a> 
            <a href="http://dadianjing.cn/">大电竞</a> 
        </div>
        <div class="copyright"><a href="http://www.kkyuyin.com/about.html" target="_self">关于我们</a> 电竞侠 2016广州宝通 版权所有 粤ICP备13068019号-4</div>
    </div>