<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>#{get 'title' /}</title>
    <meta name="keywords" content="#{get 'keywords' /}" />
    <meta name="description" content="#{get 'desc' /}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, target-densitydpi=medium-dpi, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    #{get 'moreStyles' /}
</head>
<body>
    #{doLayout /}
    <script src="/public/js/lib/jquery-1.10.2.js"></script>
    #{get 'moreScripts' /}
</body>
</html>