<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>#{get 'title' /}</title>
    <meta name="keywords" content="#{get 'keywords' /}" />
    <meta name="description" content="#{get 'desc' /}" />
    #{get 'moreStyles' /}
    #{if redirectUrl != null}
        <script src="/public/js/lib/uaredirect.js" type="text/javascript"></script>
        <script>uaredirect("#{get 'redirectUrl' /}");</script>
    #{/if}
</head>
<body>
    #{doLayout /}
    <script src="/public/js/lib/jquery-1.10.2.js"></script>
    #{get 'moreScripts' /}
</body>
</html>