<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>3D坦克争霸竞技联赛 - 电竞侠</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, target-densitydpi=medium-dpi, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="/public/css/mobile/tanke.css">
</head>
<body>
	<div class="head">填写报名信息</div>
	<div class="info-con">
		<div class="text"><span class="icon-error"></span>很抱歉，报名失败，<a href="/m/3dtk.html">请重新填写报名信息.</a></div>
	</div>
</body>
</html>